.container {
    /* background-color:  rgb(36, 35, 35);
    color: white; */
}

.hp-Carousel {
    margin-bottom: 7%;
    margin-top: 4%;
}

/* ----------Card Section */

.hp-Cards {
    margin-bottom: 4%;
    margin-top: 4%;
}

/* -------------Profiles */

.hp-Profiles {
    margin-bottom: 4%;
    margin-top: 4%;
}

.profile-img {
    border-radius: 50%;
}

.rounded-circle{
    border-radius: 40px;
}