.container {
    /* background-color: black; */
}

.hp-Carousel {
    margin-bottom: 7%;
    margin-top: 4%;
}

/* ----------Card Section */

.hp-Cards {
    margin-bottom: 4%;
    margin-top: 4%;
}

/* -------------Profiles */

.hp-Profiles {
    margin-bottom: 4%;
    margin-top: 4%;
}