
.container {
    /* background-color:  rgb(36, 35, 35);
    color: white;  */
}

.hp-Carousel {
    margin-bottom: 7%;
    margin-top: 4%;
}

.d-block w-100 {
    max-width: 20%;
}

.size {
     max-width: auto; 
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ----------Card Section */

.hp-Cards {
    margin-bottom: 4%;
    margin-top: 4%;
}

/* -------------Profiles */

.hp-Profiles {
    margin-bottom: 4%;
    margin-top: 4%;
}

.profile-img {
    border-radius: 50%;
}

.rounded-circle {
    border-radius: 40px;
}